<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
 <title> An About Us Page ||</title>
  <!---Custom Css File!--->
</head>
<body>
  <section class="about-us">
    <div class="about">
      <div class="text">
        <h2>About Us</h2>
        <img width="" src="assets/images/mgm.jpg" alt="">
        <br><br>
        <h5 style="color: brown;"><span>!!</span>Welcome To MGM<span>!!</span></h5>
          <p style="font-family: 'Times New Roman', Times, serif; text-align:justify">
            Mahatma Gandhi Mission's College of Computer Science and Information Technology is located at 
            Nanded, a district place in Maharashtra. The College established in the year 2000. It is approved by 
            Government of Maharashtra and is affiliated to Swami Ramanand Teerth Marathwada University, Nanded. 
            Nanded city is well connected by road and rail to all-important cities in India. It has unique 
            historical importance of being the place of Court and Congregation of 10th Guru of Sikhs Shri Guru 
            Gobind Singhji. Pilgrims all over the world visits Nanded.
          </p>
          <br><br>
        <!-- <div class="data">
        <a href="#" class="hire">Hire Me</a>
        </div> -->
      </div>
      <br><br>
      <div class="text">
        <h5 style="color: brown;"><span>!!</span>About MGM - College<span>!!</span></h5>
          <p style="font-family: 'Times New Roman', Times, serif; text-align:justify">
            Vision -
                  "To ensure sustainable human development which encourages self reliant and self content society 
                  and to promote activities related to community services and social welfare."Since its inception 
                  in 1982 Mahatma Gandhi Mission has been developed now in a chain of more than 50 educational 
                  organizations, health care centers and social welfare units functioning under its umbrella at 5 
                  centers wiz. Aurangabad, Nanded, Navi Mumbai, Noida and Parbhani. It has been a quest of 25 
                  years MGM proves the deep faith of its management in the power of education that leads the 
                  society towards prosperity of the nation. Mahatma Gandhi Mission has endeavored providing value 
                  based education in all streams of knowledge like Engineering, Medicine, Dental, Nursing, 
                  Management, Law, Mass communication and Journalism, Library science, Computer Science, 
                  Biotechnology, Bioinformatics, Fine Arts, Indian classical dance with state of art technology 
                  and infrastructure.
          </p>
        <!-- <div class="data">
        <a href="#" class="hire">Hire Me</a>
        </div> -->
        <img src="https://www.collegebatch.com/static/clg-gallery/mahatma-gandhi-mission039s-college-of-engineering-nanded-51902.jpg" alt="">
      </div>
    </div>
  </section>


  <br><br><br>
  <br><br><br>
  <br>
  <section class="about-us">
    <div class="about">
      <!--<img src="girl.png" class="pic">-->
      <div class="text">
        <img width="100%" src="https://www.thehighereducationreview.com/rank_list_images/4wgxvmgm.JPG" alt="">
        <br><br>
        <h5 style="color: brown;"><span>!!</span>Founder & Management<span>!!</span></h5>
          <p style="font-family: 'Times New Roman', Times, serif; text-align:justify">
            <b>Kamalkishore Kadam <br> - Chairman</b><br><br>
            Kamal Kishore Kadam, Chairman MGM Trust, is an alumnus of IIT Mumabi. Former Minister of Education, 
            Maharashtra state, Kadam is a man with strong business acumen and a flair for construction with 
            high aesthetic value. Because of his efforts and keen interest, the Mahatma Gandhi Mission has 
            received wide applause, and further, because of his zeal, the MGM has reached to the present 
            heights. He possesses the dynamism to successfully venture into new areas of business and he has 
            proved his mettle repeatedly. MGM’s niche as a premier educational and service group is the result of 
            the dedication of the dynamic individual, who is certainly one of the leading philanthropists in our 
            country. Dr. Prabha K. Dasila, Director Dr. Dasila, has been associated with MGM since 1992. She has 
            served MGM Nursing educational institutes at various capacities for more than 25 years with total 
            experience of 34 years including work experience at Kasturba Hospital, BHEL Bhopal, M.P. She has done 
            her Ph.D in nursing from Bharati Vidyapeeth Deemed University, Pune and M.Sc. in Nursing from S.N.D.T 
            University, Mumbai. With vast experience in Teaching and guiding UG / PG Nursing students and PhD 
            scholars, she is the key member of Trained Nurses Association of India and various other professional 
            organizations. She has publications in several national and international journals.
            An alumnus of IIT Mumbai and former Education Minister of Maharashtra, Kamal Kishore Kadam is a highly 
            experienced academician and educationist. Founded by Kadam in 1982, The Mahatma Gandhi Mission Trust 
            has been offering outstanding service to the society by providing education in Medical, Engineering, 
            Architecture, Nursing, Management, Computer Science and IT, Bioinformatics and Biotechnology, Fine 
            arts and Journalism and Primary Education with upmost dedication and commitment. The trust runs the 
            prestigious MGM Institute of Health Sciences, a deemed university in Mumbai that aims to be a top-ranking 
            Centre of Excellence in Medical Education and Research. As a constituent unit of MGM Institute of Health 
            Sciences, MGM New Bombay College of Nursing is distinctive in both its educational programs and its 
            support to students and staff.
          </p>
        <!-- <div class="data">
        <a href="#" class="hire">Hire Me</a>
        </div> -->
      </div>
      <div class="text">
        <img width="100%" src="https://www.highereducationdigest.com/wp-content/uploads/2020/02/IMG-1-2-550x330.jpg" alt="">
        <br><br>
        <h5 style="color: brown;"><span>!!</span>Director MGM - College<span>!!</span></h5>
        <h6 style="font-weight: bold;">Dr.Mrs.Geeta S.Lathkar <br> - Director</h6>
        <br>
          <p style="font-family: 'Times New Roman', Times, serif; text-align:justify">
            MGM'S college of CS & IT promises this competitive advantage for every computer graduate going out 
            of the college. What is required is to have an edge over the others. The best possible teaching 
            learning process could be the blend of regular education with appropriate expo to the industry.
            Trying to implement and improve this concept since inception MGM'S college of CS & IT started in 
            2000 is stepping into 12th year of the existence. A long journey challenging and rewarding with 
            so many milestones of achievements, MGM has today created a brand equity for quality education. 
            Our alumni having placed all over the globe in industries an organization of repute speaks about 
            this quality. We provide here every opportunity to explore the talents of the student through sports 
            and extra curricular activities which is our USP. Various alumni meets we have had recently in USA 
            in India gave us immense pleasure to be part of career development of success icons, MGM has launch 
            in the open sky of global competition. There is always a room for improvement and quality has got no 
            destination. Join us for this voyage giving you every opportunity for your total personality 
            development.
            <br>
            <br><br>
          See you in Campus.
          <br>
          Dr.Mrs.Geeta S.Lathkar

          </p>
          <br><br>
        <!-- <div class="data">
        <a href="#" class="hire">Hire Me</a>
        </div> -->
        <img width="100%" src="https://futurevolve.com/uploads/college/logo/15407/medium_nanded_collage_computerscience.jpg" alt="">
      </div>
    </div>
  </section>
</body>
</html>